.Timer_text{
    display: flex;
    width: 235px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    color: #fff;
}
.center{
margin-bottom: 10px;
}